<% if params[:answer][:best] %>
  $('[data-answer-id] .top').html('');
  <% if remotipart_submitted? %>
    $('.answers').html("<%= j "#{render "questions/answers"}" %>");
  <% else %>
    $('.answers').html('<%= j render "questions/answers" %>');
  <% end %>
<% else %>
  <% if @answer.errors.present? %>
    $('.notice').html("You fill invalid data for answer!")
    <% @answer.errors.full_messages.each do |message| %>
      $('.answer-errors').html('<p><%= j message %></p>');
    <% end %>
  <% else %>
    <% if remotipart_submitted? %>
      $('[data-answer-id="' + "<%= @answer.id %>" + '"]')
        .replaceWith("<%= j "#{render 'answer', answer: @answer, question: @question}" %>")
    <% else %>
      $('[data-answer-id="' + "<%= @answer.id %>" + '"]')
        .replaceWith("<%= j render 'answer', answer: @answer, question: @question %>")
    <% end %>
  <% end %>
<% end %>
